/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 */

/*
font-family: 'Kaushan Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Neucha', cursive;
font-family: 'Roboto Condensed', sans-serif;
*/

@import "bootstrap"; 

.photo{
    padding-bottom: 2em;
    padding-top: 5em;
    width: auto;
    max-height: 1000px;

}
.nom{
    font-family: 'Kaushan Script', cursive;
    font-size: 8em;
    color: #bb0808;
    margin-bottom: 0.3em;
}
.date{
    font-family: 'Suranna', serif;
    font-size: 3em;
    margin-bottom: 3em;
    font-weight: 400;
}
.auteur{
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
    margin-bottom: 0.3em;
    font-weight: 800;
}

header{
background-color: #bb0808;
 height: 100px;
 width: 100%;
 margin-bottom: 2em;
}

footer{
    background-color: #bb0808;
     height: 100px;
     width: 100%;
     margin-bottom: 2em;
    }
    footer em{
        color: #FFFFFF;
    }

.trait{
    height: 6px;
    width: 100px;
    background: #cecdcc;
    border-radius: 800px;
    margin: 0 auto 0.3em auto;
}
.petitrait{
    height: 5px;
    width: 50px;
    background: #cecdcc;
    border-radius: 800px;
    margin: 0 auto 0.3em auto;
    vertical-align: text-top;
}

.musee , .virtuel{
    padding-top: 1em;
    
}
.amour{
    font-size: 1.5em;
    padding-left: 4em;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 2em;
    
}
header em{
    color: #FFFFFF;
}

.musee{
  font-family: 'Kaushan Script', cursive;
  font-size: 3em;
}
.virtuel{
font-size: 2em;
font-family: 'EB Garamond', serif;
}